for both production and development environments. The .env.development file contains the base URL for the API and Cloudinary configuration for image uploads. The .gitignore file ensures that sensitive environment files and logs are not tracked in version control.
.env.production{
    VITE_API_BASE_URL=live backend
VITE_CLOUDINARY_CLOUD_NAME=cloudinary name
VITE_CLOUDINARY_UPLOAD_PRESET=upload preset name
}
.env.development{
    VITE_API_BASE_URL=local backend
VITE_CLOUDINARY_CLOUD_NAME=cloudinary name
VITE_CLOUDINARY_UPLOAD_PRESET=upload preset name
}
